"/var/lib/lacework/config/config.json" :
    mode: "000644"
    owner: root
    group: root
    content: |
      {"tokens": {"Accesstoken": "<AGENT_ACCESS_TOKEN_HERE>"}}
commands:

# Create the agent's yum repository
  "01-lacework-repository":
    command: curl -o /etc/yum.repos.d/lacework-prod.repo https://packages.lacework.net/RPMS/x86_64/lacework-prod.repo
#
# Update your yum cache
  "02-update-yum-cache":
    command: yum -q makecache -y --disablerepo='*' --enablerepo='packages-lacework-prod'
#
# Run the installation script
  "03-run-installation-script":
    command: yum install lacework -y
